################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
MadLabMiners/ManchesterDayParade/FloatClient/.vagrant
