################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vagrant/
winterwonderland/server/dot_minetest/debug.txt
winterwonderland/server/dot_minetest/worlds/WinterWonderWorld/mesecon_actionqueue
winterwonderland/server/dot_minetest/worlds/WinterWonderWorld/players/
